body {
    background-color: black;
    font-family: medievalsharp;
    text-align: center;
}


h1, h2 {
    color: red;
    margin: 0;
}

h1 { 
    font-size: 50px;
    margin-bottom: 0;
}


main {
    background-color: red; /*  this will hold the enemy image and hopefully we can add some text bubble */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
canvas {
    background-color: white;
    width: 300px;
    height: 280px;
    margin: 0 auto;
}

button {
    width:200px;
    height: 80px;
    font-size: 40px;
    outline: none;
    border-radius: 10px;
    border: 5px solid red;
    font-family: medievalsharp;

}

.menu-p {
    color: red;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
}

#fight-button {

}

#boss-image {
    width:200px;
    height:200px;
    margin-left: 300px;
}

#health-bar, span {
    background-color:yellow;
    display: inline-block;
    width: 50px;
    height: 13px;
    margin: 2px 5px 0 5px;
}

/* speech bubble css sourced from Dave Alger link: https://freefrontend.com/css-speech-bubbles/ */
.bubble {
    position: relative;
    float: right;
    
    display: inline;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 45px solid #fff;
    border-right: 22px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 22px;
    bottom: -24px;
  }

  #game-page {
    /* display: none; */
    visibility: hidden;
  }

  #welcome-page {
    background-image: url(https://images.unsplash.com/photo-1489101960932-eb71762e6bc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FuZGxlJTIwd2l0aCUyMGJsYWNrJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat ;
    height: 700px;
    color: red;
    display: flex;
    flex-direction: column;
  }

  #welcome-page, p, li {
    font-size: 20px;
  }
  .white-text {
    color: white;
  }

  .instruction-list, li {
    list-style: none;
    margin: 10px;
    
  }
  .how-to-win {
    margin: 25px;
  }
  