body {
    background-color: black;
    font-family: medievalsharp;
    text-align: center;
}


h1, h2 {
    color: red;
    margin: 0;
}

h1 { 
    font-size: 50px;
    margin-bottom: 0;
}


main {
    
    background-color: red; /*  this will hold the enemy image and hopefully we can add some text bubble */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
canvas {
    position: absolute;
    right: 400;
    bottom: 289;
    background-color: white;
    width: 300px;
    height: 280px;
   
    margin: 0 auto;
}

button {
    width:200px;
    height: 80px;
    font-size: 40px;
    outline: none;
    border-radius: 10px;
    border: 5px solid red;
    font-family: medievalsharp;

}

.menu-p {
    color: red;
    display: flex;
    
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
}

#fight-button {

}

#boss-image {
    position: absolute;
    right: 450;
    top: 120;
    width:200px;
    height:200px;
    align-self: center;
    justify-self: center;

}

#health-bar, span {
    background-color:yellow;
    display: inline-block;
    width: 50px;
    height: 13px;
    margin: 2px 5px 0 5px;
}